TrabalhoPratico/OnRoad/WebApplication/WebServices/entityman/xsdresponse/saveEntity.xsd

<?xml version="1.0" ?>
<xs:schema targetNamespace="http://tempuri.org/saveEntity.xsd" xmlns="http://tempuri.org/saveEntity.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="BizAgiWSParam">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Entities">
					<xs:complexType>
						<xs:attribute name="XmlSchema" form="unqualified" type="xs:string" />
						<xs:attribute name="XslName" form="unqualified" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>